.rule-symbol-desc {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #f6f6f7;
  border-radius: 6px;
  padding: 0.5rem;
}

.rule-symbol-desc .item {
  width: 33.33%;
  padding: 1.2rem;
}

.rule-symbol-desc .text {
  margin-top: 1rem;
  font-size: 16px;
  color: #606770;
}

.rule-symbol-desc .item:nth-child(-n + 2) {
  border-right: 1px solid #e0e0e0;
}

.rule-item {
  margin-bottom: 20px;
  background: #f6f6f7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.rule-title {
  color: #3578e5;
  border-bottom: 1px solid #dadde1;
  font-size: 14px;
  font-weight: 500;
  padding: 0.75rem 16px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rule-title .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rule-title .right img {
  margin-left: 0.2rem;
}

.rule-type {
  width: 24px;
  height: 24px;
}

.rule-version-requirement::before,
.rule-default-severity::before {
  content: '｜';
  color: #1c1e21;
}

.rule-version-requirement {
  color: #1c1e21;
  padding: 0 0.2rem;
  border-radius: 4px;
}

.rule-desc {
  padding: 16px;
}
