:root {
  // blog-btn
  --home-blog-btn-border: 1px solid rgba(17, 17, 19, 0.12);
  --home-blog-btn-bg: rgba(255, 255, 255, 0.08);
  --home-blog-btn-color: rgba(0, 0, 0, 0.85);
  --home-blog-bg-img: url('../docs/public/assets/home/home-blog-logo-light.svg');
  // brand
  --major-brand-color: #ff351a;
  --second-brand-color: #12e5e5;
  --gradient-brand-color: rgba(239, 155, 255, 1);
  --hero-normal-text-color: #000;
  // showcase\features
  --home-title-color: #111113;
  --home-desc-color: #111113;
  --home-features-item-bg: radial-gradient(
      94.38% 84.84% at 0% 2.15%,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.5);
  --home-features-item-bg-fill: linear-gradient(
    142deg,
    rgba(17, 17, 19, 0.08) 2.16%,
    rgba(17, 17, 19, 0) 90.92%
  );
  --home-features-item-bg-border: 1px solid rgba(17, 17, 19, 0.08);
  --home-features-item-desc-color: rgba(17, 17, 19, 0.65);
  --home-features-list-frame-bg: url('../docs/public/assets/home/f-light-bg.svg')
    no-repeat center center;
  --home-features-item-action-btn-bg: #fff;
  // showcase
  --home-showcase-item-title-color: rgba(0, 0, 0, 0.85);
  --home-showcase-item-desc-color: rgba(0, 0, 0, 0.65);
  --home-showcase-item-link-color: rgba(255, 53, 26, 1);
  --home-showcase-tpl-tip-border: 1px solid rgba(17, 17, 19, 0.12);
  --home-showcase-tpl-tip-bg: rgba(255, 255, 255, 0.08);
  --home-showcase-mobile-bg: url('../docs/public/assets/home/home-s-mobile-bg.svg')
    no-repeat top left;
  // banner
  --home-banner-title-color: #060606;
}

:root.dark {
  // blog-btn
  --home-blog-btn-border: 1px solid rgba(255, 255, 255, 0.12);
  --home-blog-btn-bg: rgba(255, 255, 255, 0.08);
  --home-blog-btn-color: rgba(255, 255, 255, 0.85);
  --home-blog-bg-img: url('../docs/public/assets/home/home-blog-logo-dark.svg');
  // brand
  --major-brand-color: #ff6448;
  --second-brand-color: #3deae7;
  --hero-normal-text-color: #fff;
  // showcase\features
  --home-title-color: #fff;
  --home-desc-color: rgba(255, 255, 255, 0.65);

  --home-features-item-bg: radial-gradient(
      94.38% 84.84% at 0% 2.15%,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(17, 17, 19, 0.5);
  --home-features-item-bg-fill: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.32) 2.16%,
    rgba(255, 255, 255, 0) 90.92%
  );
  --home-features-item-bg-border: 1px solid rgba(255, 255, 255, 0.32);
  --home-features-item-desc-color: rgba(255, 255, 255, 0.65);
  --home-features-list-frame-bg: url('../docs/public/assets/home/f-dark-bg.svg')
    no-repeat center center;
  --home-features-item-action-btn-bg: rgba(255, 255, 255, 0.16);
  // showcase
  --home-showcase-item-title-color: rgba(255, 255, 255, 0.85);
  --home-showcase-item-desc-color: rgba(255, 255, 255, 0.65);
  --home-showcase-item-link-color: rgba(255, 100, 72, 1);
  --home-showcase-tpl-tip-border: 1px solid rgba(255, 255, 255, 0.12);
  --home-showcase-tpl-tip-bg: rgba(255, 255, 255, 0.08);
  --home-showcase-mobile-bg: url('../docs/public/assets/home/home-s-mobile-bg-dark.svg')
    no-repeat top left;
  // banner
  --home-banner-title-color: #fff;
}

[data-subsite='react'] {
  --major-brand-color: rgba(1, 133, 173, 1);
  --second-brand-color: rgba(255, 53, 26, 1);
  --home-blog-bg-img: url('../docs/public/assets/home/home-blog-logo-react-light.svg');
  --home-features-list-frame-bg: url('../docs/public/assets/home/f-react-light-bg.svg')
    no-repeat center center;
}

.dark[data-subsite='react'] {
  --major-brand-color: rgba(0, 221, 255, 1);
  --second-brand-color: rgba(255, 100, 72, 1);
  --home-blog-bg-img: url('../docs/public/assets/home/home-blog-logo-react-dark.svg');
  --home-features-list-frame-bg: url('../docs/public/assets/home/f-react-dark-bg.svg')
    no-repeat center center;
}

[data-subsite='rspeedy'] {
  --major-brand-color: rgba(255, 154, 0, 1);
  --second-brand-color: rgba(255, 53, 26, 1);
  --home-blog-bg-img: url('../docs/public/assets/rspeedy.PNG');
  --home-features-list-frame-bg: url('../docs/public/assets/home/rs-f-light-bg.svg')
    no-repeat center center;
}

.dark[data-subsite='rspeedy'] {
  --major-brand-color: rgba(255, 154, 0, 1);
  --second-brand-color: rgba(255, 53, 26, 1);
  --home-blog-bg-img: url('../docs/public/assets/rspeedy.PNG');
  --home-features-list-frame-bg: url('../docs/public/assets/home/rs-f-dark-bg.svg')
    no-repeat center center;
}

.rspress-home-hero-tagline {
  color: var(--home-features-item-desc-color);
}
