@mixin required-attr($class-name) {
  a[href^='#required'] {
    #{$class-name}::before {
      content: '';
      background-color: #fa5035; /* Set the background color to red */
      border-radius: 50%; /* Make it a circle */
      width: 8px; /* Set the width of the circle */
      height: 8px; /* Set the height of the circle */
      display: inline-block; /* Ensure it displays inline */
      margin-right: 6px;
    }
  }
}

.rspress-local-toc-container {
  @include required-attr('.rspress-toc-link-text');
}

#aside-container {
  @include required-attr('.aside-link-text');
}
