.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  * {
    box-sizing: border-box;
  }

  .content {
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 8px;
    display: flex;
    gap: 8px;
    :global {
      .semi-resizable-resizableHandler {
        z-index: 0;
      }
    }
  }

  .code-wrap,
  .preview-wrap {
    border-radius: 8px;
    border: 0.692px solid var(--semi-color-border);
    background: var(--rp-code-block-bg);
  }

  .code-wrap {
    width: 100%;
    min-width: 0;
    overflow: auto;
    background: var(--rp-code-block-bg);
    :global {
      div[class^='language-'] {
        margin: 0;
        border-radius: 0;
      }
      pre.code {
        min-height: 520px;
      }
    }
  }
  .code-tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .code-view-container {
      width: 100%;
      height: 100%;
      overflow: auto;
      min-height: 0;
    }
    .code-tab {
      width: 100%;
      :global {
        .semi-tabs-bar {
          padding-left: 20px;
          display: flex;
          overflow-x: auto;
          overflow-y: hidden;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  .preview-wrap {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .qrcode {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 12px;
      .qrcode-svg {
        margin-bottom: 16px;
        margin-top: 12px;
      }
      .qrcode-entry {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 24px;
        margin-top: 16px;
      }
    }
  }

  .footer {
    height: 32px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-top: 1px solid var(--semi-color-border);
  }
}

.box {
  width: 100%;
  height: 618px;
  border-radius: 16px;
  border: 1px solid var(--semi-color-border);
  background: var(--semi-color-bg-0);
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  @media (max-width: 600px) {
    height: 800px;
    .content {
      align-items: center;
      flex-direction: column;
    }
    :global {
      .semi-resizable-resizableHandler {
        display: none;
      }
      .semi-resizable-resizable {
        height: 370px !important;
        width: 100% !important;
      }
      pre.code {
        min-height: 324px !important;
      }
    }
    .code-wrap {
      height: 100%;
      min-height: 0;
    }
    .preview-wrap .qrcode {
      margin-top: 0;
      .qrcode-svg {
        margin-bottom: 12px;
        margin-top: 0px;
      }
      .qrcode-entry {
        margin-top: 0px;
      }
    }
  }
}
